@charset "utf-8";

.gnb li:nth-child(7) a{
    border-bottom: 1px solid #5c4837;
    transition: none;
} 

.story_area {
    display: grid;
    grid-template-columns: repeat(2, minmax(20% 50%));
    gap: 5vw;
    max-width: 70vw;
    margin: 5vw auto;
}


.story {
    margin: 0 auto;
}

.story h3 {
    padding-bottom: 1rem;
    border-bottom: 1px solid #bbb1a2;
}

.story_btn a {
    opacity: 0.5;
    padding: 0.5rem 0;
}

.story_btn a:hover {
    opacity: 1;
    font-weight: 400;
}

.story_img {
    max-width: 100%;
}
.story_img img{
    max-width: 100%;
    height: auto;
}

.no01 .r {
    display: none;
}

.no01 {
    grid-row: 1/3;
}

.no03 {
    grid-column-start: 2;
}

.end {
    font-size: 2rem;
    text-align: center;
    color: #5c4837;
    margin-bottom: 7%;
    
}



@media screen and (max-width:1024px) {
    .story_area {
        display: block;
        margin-top: 4rem;
    }

    .story::after {
        display: block;
        content: "";
        height: 5rem;
    }

    .no01 .v {
        display: none;
    }

    .no01 .r {
        display: block;
    }
      
}
